{% extends 'base.html.twig' %}
{% block title %}
    About us
{% endblock %}

{% block body %}
    <h1>The team</h1>
<div class="team col-10">
    {% for user in Json %}

    <div class="card teamMate col-8">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{{ user.picture }} " alt="">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">

                        <h5 class="card-title">{{ user.firstname ~ ' ' ~ user.lastname }}   {% if loop.first %}❤️ {% endif %}</h5>

                        <p>{{ user.creatorOf}} </p>
                        <p>Né le :  {{ user.dateOfBirth |date('d/m/y') }}</p>
                        <p class="card-text">{{ user.description }}</p>

                    </div>
                </div>
            </div>
    </div>


    {% endfor %}
</div>

{% endblock %}


