{% extends 'base.html.twig' %}

{% block title %}The Bucket List{% endblock %}

{% block body %}

    {% if app.user %}
        <h1>Hello back {{ app.user.userIdentifier }}</h1>

        {% else %}
            <h1>Hello Foreigner</h1>

    {% endif %}
    <h2>Latest Wishes</h2>
    <div class="wishcontainer">


        {% for wish in wishes %}
            <div class="wish">
                <h2>{{ wish.title }}</h2>
                <h5>{{ wish.category.name }}</h5>
                <p>{{ wish.description }}</p>
                <a href=" {{ path('wish_show', {'id':wish.id}) }}">+ d'infos</a>
                <p>write by {{ wish.user.userIdentifier }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
